.bg-blur {
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
}

.btn-course {
	border-radius: 15px;
	border: 1.5px solid rgba(255, 255, 255, 0.25);
	background: rgba(0, 0, 0, 0.05);
	box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(5px);
	color: white;
	display: inline-flex;
	padding: 10px 25px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: 15px 15px 15px 0px;
}

.btn-sign-up {
	padding: 10px 30px;
	border-radius: 30px;
	background: #fc6f2f;
	color: white;
	border: none;
}

.btn-sign-up1 {
	padding: 10px 30px;
	border-radius: 30px;
	background: #244bd6;
	color: white;
	border: none;
}

.input-search {
	display: flex;
	width: 216px;
	height: 48px;
	padding: 0px 10px 0px 28px;
	align-items: center;
	flex-shrink: 0;
	border-radius: 100px;
	background: rgba(255, 255, 255, 0.26);
	backdrop-filter: blur(10px);
	border: none;
}

.btn-cart {
	display: flex;
	width: 48px;
	height: 48px;
	padding: 12px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background-color: transparent;
	border-radius: 50px;
	border: 1.5px solid rgba(255, 255, 255, 0.25);
}

.txt-nav {
	color: white !important;
	font-family: Nunito Sans;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
}

.txt-nav1 {
	color: white !important;
	text-align: center;
	/* Navigation */
	font-family: Open Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.54px;
}

.active {
	color: rgba(252, 111, 47, 1) !important;
}

.txt-intro {
	color: #fff;
	font-family: Nunito Sans;
	font-size: 60px;
	font-style: normal;
	font-weight: 800;
	line-height: 72px;
	letter-spacing: 0.6px;
}

.txt-content {
	font-family: Open Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 0.18px;
}

.icon-search {
	position: absolute;
	top: 13px;
	right: 15px;
}

.card {
	background: none;
	border: none;
	color: white;
}

.card:hover .description {
	max-height: 100%;
	padding: 1rem;
	transition: transform 2s ease-in-out;
}

.description {
	transition: top 2s ease-in-out;
	overflow: hidden;
	max-height: 0;
	height: max-content;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	padding: 0 1rem;
	color: white;
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

@media screen and (max-width: 1200px) {
	.txt-intro {
		font-size: 45px;
	}
	.btn-sign-up {
		padding: 10px 20px;
		/* width: fit-content; */
	}
}

@media screen and (max-width: 768px) {
	.txt-intro {
		font-size: 30px;
	}
	.section2-sub-card {
		display: block !important;
		width: 90%;
	}
}

html,
body {
	position: relative;
	height: 100%;
}

body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.swiper {
	width: 100%;
	height: 100%;
}

.section1 {
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100%;
	max-height: 85%;
	background-image: url("img/image4.png");
}

.swiper-slide.blur {
	filter: blur(5px); /* Adjust the blur value as needed */
}

.btn-sub1 {
	display: flex;
	margin: 10px;
	width: 50%;
	padding: 17px 30px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 50px;
	background: #00b232;
	color: white;
	outline: none;
	border: none;
}

.btn-sub2 {
	display: flex;
	margin: 10px;
	width: 50%;
	padding: 17px 30px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 50px;
	background: #22b491;
	color: white;
	outline: none;
	border: none;
}

.txt-sub-price {
	color: #001353 !important;
	font-size: 35px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 42px */
}

.txt-sub-old-price {
	color: rgba(0, 10, 43, 0.6);
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-decoration: line-through;
}

.sub-sale {
	display: inline-flex;
	padding: 5px 15px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 20px;
	background: #244bd6;
	color: white;
}

.sub-des {
	color: rgba(0, 19, 83, 0.85);
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%; /* 33.6px */
}

.section2-container, .section3-container {
	background-color: black;
	padding: 50px 0;
}

button:hover {
	opacity: 0.8;
}

.section2-study-at-ur-own img {
	margin: 30px;
}

.modal-body form {
	width: 100%;
	padding: 0 54px;
}


/* Featured Courses - Section 3 */
.section3-list-courses{
	margin: 0 20px;
}

.scrolling-wrapper{
	overflow: hidden;
}

.type-course{
	padding: 15px 25px;
	gap: 10px;
	border-radius: 25px;
	border: 1.5px solid rgba(255, 255, 255, 0.60);

}

.type-course:hover{
	cursor: pointer;
}

.type-course.active{
	background-color: #FC6F2F;
}
.type-course.active span{
	color: #FFFFFF;
}

.type-course-text{
	color: rgba(255, 255, 255, 0.60);
	text-align: center;
	font-family: Open Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.54px;
}

/* Course Card */
.section3-list-courses{
	--bs-gutter-y: 45px;
	--bs-gutter-x:30px;
}

.course-card{
	overflow: hidden;
	border-radius: 20px;
	background: #F5F5F5;
}

.course-card:hover .course-image{
	transform: scale(1.05);
}

.course-content-header{
	margin-bottom: 20px;
}

.course-image{
	width: 100%;
	height: 296px;
	flex-shrink: 0;
	background: url("img/image3.png"), lightgray 50%;
	background-position: center center;
	background-repeat:no-repeat;
	background-size: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	transition: 0.4s;
}

.course-content{
	padding: 24px 30px;
}

.course-content-body-details{
	gap: 15px;
	margin-bottom: 20px;

}

.course-action{
	gap:  15px;
	flex-shrink: 0;
}

.course-action .btn-cart-icon{
	padding: 12px;
	border-radius: 25px;
	background: #FC6F2F;
	gap: 10px;
	border: none;
}

.course-action .btn-cart-icon:hover{
}

.course-action .action-details{
	padding: 11px 15px;
	gap: 10px;
	border-radius: 25px;
	border: 1.5px solid rgba(0, 19, 83, 0.25);
}

.wrap-type-course{
	display: inline-block;
	padding: 8px 20px;
	border-radius: 15px;
	background: rgba(252, 111, 47, 0.86);
}

.wrap-type-course .type-course-card{
	display: inline-block;
	color: #FFF;
	font-family: Open Sans;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
	letter-spacing: 0.15px;
}

.indi-price{
	color: #FC6F2F;
	text-align: justify;
	font-family: Open Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.us-price{
	color: rgba(102, 108, 128, 0.80);
	text-align: justify;
	font-family: Open Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.course-title{
	margin-bottom: 0px;
	padding-bottom: 15px;
	color: #001353;
	font-family: Nunito Sans;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
}

.course-description{
	padding-bottom: 20px;
	color: rgba(0, 19, 83, 0.90);
	font-family: Open Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.18px;
}

@media screen and (max-width: 1200px) {
	.section3-list-courses{
		margin: 0 20px;
	}

	.scrolling-wrapper {
		justify-content: center;
		flex-wrap: wrap;
	}

	.scrolling-wrapper .type-course{
		margin-bottom: 12px;
	}
}

@media screen and (max-width: 768px) {
	.section3-container{
		padding: 10px !important;
	}

	.section3-content{
		padding: 0;
	}

	.section3-list-courses{
		margin: 0;
	}

	.course-content-header{
		flex-direction: column;
	}

	.course-content-footer{
		flex-direction: column;
	}

	.course-rating{
		display: flex;
		margin-bottom: 10px;
	}

	.scrolling-wrapper {
		justify-content: center;
		align-items: center;
	}

	.scrolling-wrapper .type-course{
		margin-bottom: 12px;
		margin-left: 10px !important;
	}
}